@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
@import "@core/lib/theme.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#__nuxt {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
